Package: com.shade.oreo
Name: Oreo
Depends: mobilesubstrate, preferenceloader, applist, ws.hbang.common
Version: 0.1
Architecture: iphoneos-arm
Description: An elegant app drawer
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
